.main-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    padding: 1.5rem;
    border-radius: 15px;
    margin-block: 1rem;
    border: 2px solid transparent;
    @media(prefers-color-scheme: dark) {
        background-color: color-mix(in oklab, transparent, var(--accent) 20%);
    }
    @media(prefers-color-scheme: light) {
        border-color: var(--accent);
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.meta {
    flex-grow: 1;
}

.meta-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px color-mix(in oklab, transparent, var(--text) 40%) solid;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    min-height: 50px;
    align-items: center;
}
.meta-value {
    text-align: right;
}

.material-symbols-rounded {
    --filled: 0;
    --size: 30px;
    font-size: var(--size);
    font-variation-settings:
        'FILL' var(--filled),
        'wght' 500,
        'GRAD' 200,
        'opsz' 48;
    vertical-align: middle;
}
.icon {
    --size: 30px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    user-select: none;
    overflow: hidden;
    margin-inline: 0.2rem;
    &[filled] {
        --filled: 1;
    }
}
.rating-icon {
    color: orange;
    margin-inline: 0;
}
.tags {
    margin-top: 1.5rem;
}
.tag {
    background-color: var(--accent);
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: var(--dark-text);
    margin: 0.2rem;
    display: inline-block;
    text-decoration: unset;
}
.game-name {
    font-size: 2rem;
}
.image-container {
    margin: 1.5rem;
    max-height: 250px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; 
    scroll-snap-type: x mandatory;
    scroll-snap-stop: normal;
}
.game-image {
    max-width: 90%;
    max-height: 250px;
    width: auto;
    height: auto;
    scroll-snap-align: center;
    display: inline-block;
    object-fit: cover;
    vertical-align: top;
}