.main-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    padding: 1.5rem;
    border-radius: 15px;
    margin-block: 1rem;
    border: 2px solid transparent;
    @media(prefers-color-scheme: dark) {
        background-color: hsl(from var(--accent) h calc(s - 65) calc(l - 40));
        color: var(--on-accent);
    }
    @media(prefers-color-scheme: light) {
        border-color: var(--accent);
    }
}

section {
    padding-inline: 1.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

#meta {
    flex-grow: 1;
}

.meta-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    border-bottom: 1px var(--faint-on-background) solid;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    min-height: 50px;
    & > * {
        vertical-align: middle;
    }
}

.meta-value {
    text-align: right;
}

.material-symbols-rounded {
    --filled: 0;
    --size: 30px;
    font-size: var(--size);
    font-variation-settings:
        'FILL' var(--filled),
        'wght' 500,
        'GRAD' 200,
        'opsz' 48;
    vertical-align: middle;
}
.icon {
    --size: 30px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    user-select: none;
    overflow: hidden;
    margin-inline: 0.2rem;
    &[data-filled] {
        --filled: 1;
    }
}
.rating-icon {
    color: orange;
    margin-inline: 0;
}
.tags {
    margin-top: 1.5rem;
}
.tag {
    padding: 0.2rem 1rem;
    border-radius: 15px;
    
    margin: 0.2rem;
    display: inline-block;
    text-decoration: unset;
}
.outline-tag {
    border: solid 1px var(--on-background);
}
.filled-tag {
    background-color: var(--accent);
    color: var(--on-accent);
}
#game-title {
    font-size: 2rem;
}
.image-container {
    margin-block: 1.5rem;
    max-height: 250px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; 
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}
.game-image {
    max-width: 90%;
    max-height: 250px;
    width: auto;
    height: auto;
    scroll-snap-align: center;
    display: inline-block;
    object-fit: cover;
    vertical-align: top;
}

.column-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    --gap: 1rem;
    gap: var(--gap);
}
.column-card {
    display: inline-block;
    flex-grow: 1;
    flex-basis: calc(50% - var(--gap));
}

.vendored-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.icon-value {
    display: inline-block;
    & > * {
        vertical-align: middle;
    }
}