:root {
    --primary: #4039c9;
    --secondary: #8883ef;
    --accent: #4d45fd;

    --light-text: #0a0a0e;
    --dark-text: #f0f0f4;
    
    --light-background: #fafafd;
    --dark-background: #252429; 
}

@media (prefers-color-scheme: light) {
    :root {
        --text: var(--light-text);
        --background: var(--light-background);
        --inverse-text: var(--dark-text);
        --inverse-background: var(--dark-background);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: var(--dark-text);
        --background: var(--dark-background);
        --inverse-text: var(--light-text);
        --inverse-background: var(--light-background);
    }
}

:root {
    color-scheme: light dark;
    font-family: sans-serif;
    color: var(--text);
}
* {
    box-sizing: border-box;
    margin: unset;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
html, body {
    height: 100%;
}
body {
    background-color: var(--background);
    display: flex;
    flex-flow: column;
    width: 100%;
}
main {
    margin-inline: auto;
    max-width: min(1000px, 100%);
}
footer {
    text-align: center;
    padding-block: 0.5rem;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    height: 70px;
}
header {
    border-bottom: 1px solid var(--text);
}
.nav-section {
    height: 100%;
}
.nav-item {
    padding-inline: 1rem;
    height: 100%;
    align-content: center;
    display: inline-block;
    text-decoration: unset;
    color: unset;
    font-size: larger;
}

.nav-item:hover {
    background-color: color-mix(in lab, transparent, var(--accent) 20%);
}
.nav-active,.nav-active:hover {
    background-color: var(--accent);
    color: var(--dark-text);
}



@media(max-width: 700px) { 
    .nav-item:not(.game-picker) {
        display: none;
    }
}