---
pagination:
  data: games
  size: 1
  alias: game
layout: layout
permalink: "games/{{ game.name | slugify }}/"
eleventyComputed:
  title: "{{ game.name }}"
style: "/game.css"
---

<div class="front-container">
  <div>
    <h1 class="game-name">{{ game.name }}</h1>
    {{ game.description }}
  </div>
  <div class="meta-container">
    <div>
      Rating:
      {% for i in range(0, game.rating) %}
        <span class="material-symbols-rounded rating-icon">star_rate</span>
      {% endfor %}
      {% if game.rating % 1 !== 0 %}
        <span class="material-symbols-rounded rating-icon">star_rate_half</span>
      {% endif %}
    </div>
  </div>
</div>