---
pagination:
  data: games
  size: 1
  alias: game
  addAllPagesToCollections: true
layout: layout
permalink: "{{ game | gameUrl }}"
eleventyComputed:
  title: "{{ game.name }}"
  description: "{{ game.description }}"
  image: "{{ game.images | keys | first }}"
style: "/css/game.css"
tags: game
---
<section class="main-card card">
  <div class="description">
    <div>
      <h1 class="game-name">{{ game.name }}</h1>
      {{ game.description }}
    </div>
    <div class="tags">
      {% for tag in game.tags %}
        <a href="{{ tag | tagUrl }}" class="tag filled-tag">{{ tag | forceCapitalize }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="meta">
    <div class="meta-item">
      Rating
      {% set rating = ((game.rating * 2) | round) / 2 %}
      <span class="meta-value">
        {% for i in range(1, 6) %}
          {% set fraction = i - rating %}
          
          {% if rating >= i %}
            <span class="material-symbols-rounded icon rating-icon" data-filled>star_rate</span>
          {% elif (fraction > 0) and (fraction < 1) %}
            <span class="material-symbols-rounded icon rating-icon">star_rate_half</span>  
          {% else %}
            <span class="material-symbols-rounded icon rating-icon">star_rate</span>
          {% endif %}
          
        {% endfor %}
      </span>
    </div>
    <div class="meta-item">
      Players
      <span class="meta-value">
        {{ game.players | capitalize }}
        <span class="material-symbols-rounded icon" data-filled>
          {% if game.players === 'singleplayer' %}
            person
          {% elif game.players === 'multiplayer' %}
            groups
          {% endif %}
        </span>
      </span>
    </div>
    <div class="meta-item">
      Genre
      <span class="meta-value">{{ game.genre | forceCapitalize }}</span>
    </div>
    <div class="meta-item">
      Developer
      <span class="meta-value">{{ game.developer | forceCapitalize }}</span>
    </div>
    <div class="meta-item">
      Release Date
      <span class="meta-value">{{ game.release }}</span>
    </div>
  </div>
</section>

{% if game.images | length %}
  <div class="image-container">
    {% for src, alt in game.images %}
      <img class="game-image" alt="{{ alt }}" src="/img/{{ src }}" eleventy:widths="auto,720" sizes="auto">
    {% endfor %}
  </div>
{% endif %}

{% set vendors = {
    "intel": {
        "name": "Intel",
        "color": "#00C7FD"
    },
    "amd": {
        "name": "AMD",
        "color": "#ef0707"
    },
    "nvidia": {
        "name": "NVIDIA",
        "color": "#76B900"
    }
} %}

{% macro vendored(vendor, detail) %}
  {% set vendorDetail = vendors[vendor] %}
  
  <div class="vendored-item" title="{{ vendorDetail.name }} {{ detail }}">
    <svg role="img" aria-label="{{ vendorDetail.name }}" class="icon">
      <use href="/icons.svg#{{ vendor }}"></use>
    </svg>
    {{ detail }}
  </div>
{% endmacro %}

{% macro vendoredList(list) %}
  {% for vendor, detail in list %}
    {{ vendored(vendor, detail) }}
  {% endfor %}
{% endmacro %}

<section>
  <h2>System Requirements</h2>
  <div class="column-card-container">
    <section class="card column-card">
      <h3>Operating System</h3>
      {% for platform, version in game.system_requirements.operating_system %}
        <div class="platform-row">
            <svg role="img" aria-label="{{ platform | forceCapitalize }}" class="icon">
              <use href="/icons.svg#{{ platform }}"></use>
            </svg>
            <span>{{ platform | forceCapitalize }}</span>
            {% if version !== true %}
              <span class="tag outline-tag">{{ version }}</span>
            {% endif %}
          </div>
      {% endfor %}
    </section>
    <section class="card column-card">
      <h3>Hardware</h3>
      {% if game.system_requirements.processor | length %}
        <div class="meta-item">
          Processor
          <span class="meta-value">{{ vendoredList(game.system_requirements.processor) }}</span>
        </div>
      {% endif %}
      {% if game.system_requirements.graphics_unit | length %}
        <div class="meta-item">
          Graphics Unit
          <span class="meta-value">{{ vendoredList(game.system_requirements.graphics_unit) }}</span>
        </div>
      {% endif %}
      {% if game.system_requirements.memory %}
        <div class="meta-item">
          Memory
          <span class="meta-value">{{ game.system_requirements.memory }}</span>
        </div>
      {% endif %}
      {% if game.system_requirements.storage %}
        <div class="meta-item">
          Storage
          <span class="meta-value">{{ game.system_requirements.storage }}</span>
        </div>
      {% endif %}
    </section>
  </div>
</section>