---
permalink: icons.svg
eleventyExcludeFromCollections: true
---
<svg xmlns="http://www.w3.org/2000/svg">
    {% include "img/windows.svg" %}
    {% include "img/linux.svg" %}
    {% include "img/mac.svg" %}
    {% include "img/proton.svg" %}
</svg>