:root {
    color-scheme: dark light;
    font-family: sans-serif;
    --accent-color: #4d45fd;
    --accent-text-color: white;
    --background-color: #f4f4f4;
    @media(prefers-color-scheme: dark) {
        --background-color: #252429;
    }
}
* {
    box-sizing: border-box;
}
body {
    margin: unset;
    background-color: var(--background-color);
}
main {
    margin-top: 1rem;
    padding: 8px;
    max-width: 1000px;
    margin-inline: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    height: 70px;
}
header {
    border-bottom: 1px solid CanvasText;
}
.nav-section {
    height: 100%;
}
.nav-item {
    padding-inline: 1rem;
    height: 100%;
    align-content: center;
    display: inline-block;
    text-decoration: unset;
    color: unset;
    font-size: larger;
}

.nav-item:hover {
    background-color: color-mix(in lab, var(--background-color), var(--accent-color) 20%);
}
.nav-active,.nav-active:hover {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}



@media(max-width: 700px) { 
    .nav-item:not(.game-picker) {
        display: none;
    }
}
.front-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 15px;
    @media(prefers-color-scheme: dark) {
        background-color: color-mix(in lab, var(--background-color), var(--accent-color) 20%);
    }
    @media(prefers-color-scheme: light) {
        border: 2px solid var(--accent-color);
    }
}

.front-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.meta-container {
    flex-grow: 1;
}

.meta-container > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px color-mix(in lab, var(--background-color), CanvasText 40%) solid;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
}

.icon {
    --filled: 0;
    --size: 30px;
    display: inline-block;
    width: var(--size);
    font-size: var(--size);
    font-variation-settings:
        'FILL' var(--filled),
        'wght' 500,
        'GRAD' 200,
        'opsz' 48;
    vertical-align: middle;
    user-select: none;
    overflow: hidden;
    margin-inline: 0.2rem;
    &[filled] {
        --filled: 1;
    }
}
.rating-icon {
    color: gold;
    margin-inline: 0;
}

.game-name {
    margin: 0;
    margin-bottom: 1rem;
}
.tags {
    margin-top: 1.5rem;
}
.tag {
    background-color: var(--accent-color);
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: white;
    margin: 0.2rem;
    display: inline-block;
}