<header>
    <nav>
        <div class="nav-section">
            {% for game in games %}
                {% set url = game | gameUrl %}
                <a href="{{ url }}" class="nav-item {% if page.url == url %}nav-active{% endif %}"> {{ game.name }}</a>
            {% endfor %}
        </div>
        <div class="nav-section">
            <a href="/" class="nav-item {% if page.url == '/' %}nav-active{% endif %} game-picker">
                Game Picker
            </a>
        </div>
    </nav>
</header>