{% macro navItem(name, url) %}
    <a href="{{ url }}" class="nav-item {% if page.url === url %}nav-active{% endif %}">{{ name }}</a>
{% endmacro %}

<header>
    <nav>
        <div>
            {% for game in games %}
                {{ navItem(game.name, game | gameUrl) }}
            {% endfor %}
        </div>
        <div>
            {{ navItem("Game Picker", "/") }}
        </div>
    </nav>
</header>