{% macro navItem(name, url, class) %}
    <a href="{{ url }}" class="nav-item {% if page.url === url %}nav-active{% endif %} {{ class }}">{{ name }}</a>
{% endmacro %}

<header>
    <nav>
        <div>
            {% for game in games %}
                {{ navItem(game.title, game | gameUrl) }}
            {% endfor %}
        </div>
        <div>
            {{ navItem("Game Picker", "/", "game-picker") }}
        </div>
    </nav>
</header>