.front-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 15px;
    @media(prefers-color-scheme: dark) {
        background-color: color-mix(in lab, var(--background-color), var(--accent-color) 20%);
    }
    @media(prefers-color-scheme: light) {
        border: 2px solid var(--accent-color);
    }
}

.front-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}

.meta-container {
    flex-grow: 1;
}

.meta-container > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px color-mix(in lab, var(--background-color), CanvasText 40%) solid;
    padding-block: 0.5rem;
    margin-block: 0.5rem;
    min-height: 50px;
}

.icon {
    --filled: 0;
    --size: 30px;
    display: inline-block;
    width: var(--size);
    font-size: var(--size);
    font-variation-settings:
        'FILL' var(--filled),
        'wght' 500,
        'GRAD' 200,
        'opsz' 48;
    vertical-align: middle;
    user-select: none;
    overflow: hidden;
    margin-inline: 0.2rem;
    &[filled] {
        --filled: 1;
    }
}
.rating-icon {
    color: gold;
    margin-inline: 0;
}

.game-name {
    margin: 0;
    margin-bottom: 1rem;
}
.tags {
    margin-top: 1.5rem;
}
.tag {
    background-color: var(--accent-color);
    padding: 0.2rem 1rem;
    border-radius: 15px;
    color: white;
    margin: 0.2rem;
    display: inline-block;
}