nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    height: 70px;
}
header {
    border-bottom: 1px solid CanvasText;
}
.nav-section {
    height: 100%;
}
.nav-item {
    padding-inline: 1rem;
    height: 100%;
    align-content: center;
    display: inline-block;
    text-decoration: unset;
    color: unset;
    font-size: larger;
}

.nav-item:hover {
    background-color: color-mix(in lab, Canvas, var(--accent-color) 20%);
}
.nav-active,.nav-active:hover {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}



@media(max-width: 700px) { 
    .nav-item:not(.game-picker) {
        display: none;
    }
}