:root {
    color-scheme: dark light;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    margin: unset;
}
main {
    padding: 8px;
    max-width: 1000px;
    margin-inline: auto;
}