:root {
    color-scheme: dark light;
    font-family: sans-serif;
    --accent-color: #4d45fd;
    --accent-text-color: white;
    --background-color: #d9d4e2;
    @media(prefers-color-scheme: dark) {
        --background-color: #252429;
    }
}
* {
    box-sizing: border-box;
}
body {
    margin: unset;
    background-color: var(--background-color);
}
main {
    margin-top: 1rem;
    padding: 8px;
    max-width: 1000px;
    margin-inline: auto;
}